{
    "redis" :{
        "port": "<PORT>",
        "address": "<ADDRESS>",
        "database": "<NUMBER FOR REDIS DB>",
        "password": "<PASSWORD>"
    },
    "wordnet-world" :{
        "admin-password": "<PASSWORD>"
    }
}

