{
    "couchDB" :{
        "databasePort": <PORT>,
        "connectionString": "<URL>",
        "username": "<USERNAME>",
        "password": "<PASSWORD>",
        "database": "<NAME OF INTERNAL DATABASE IN COUCHDB>"
    },
    "roleService" : {
        "url" : "<URL>"
    }
}

